





    a {
        color: #FF5200;
    }

    a:hover, a:focus, .back-to-catalog-v3:hover,
    .header-left .left-nav-toggle:hover {
        color: #bf3d00;
    }

    #lp-left-nav .lesson {
        color: #ff7d3f;
    }

    #lp-left-nav .lesson:hover,
    #lp-left-nav .lesson:active {
        background: #6b2100;
        color: white;
    }

    #lp-left-nav .lesson-active,
    #lp-left-nav .current-item {
        background: #FF5200;
        color: white;
    }

    #lp-left-nav .left-nav-return {
        color: #FF5200;
    }

    .link-color {
        color: #FF5200;
    }

    .theme-color {
        color: #FF5200;
    }

    .theme-color-bg {
        background-color: #FF5200;
    }

    .theme-color-border-hover:hover, .theme-color-border-hover:focus {
        border-color: #FF5200;
    }

    a.theme-no-hover{
        color: #FF5200;
    }

    a.theme-no-hover:hover, a.theme-no-hover:focus {
        color: #FF5200;
    }

    .tooltip {
        background: #8f2d00;
        border: 1px solid #6b2100;
    }

    .tooltip.tip-top .nub {
        border-color: transparent transparent #8f2d00 transparent;
    }

    @media only screen and (min-width: 768px) {
        .tooltip.tip-top .nub {
            border-color: #8f2d00 transparent transparent transparent;
        }
    }

    #curriculum-list-2 ul.scorm-item-list {
        border-color: #FF5200;
    }

    
    





    #header,
    #header-mobile-dropdown {
        background-color: #ffffff !important;
    }

    .sj-nested-header-links #header .header-dropdown__menu {
        background-color: #ffffff !important;
    }




    #header, .header-link,
    .header-left .left-nav-toggle {
        color: #084b7d;
    }

    #header .header-dash-dropdown {
        color: #084b7d;
    }

    #header .header-dropdown-button:before {
        border-color: #084b7d transparent transparent transparent;
    }




    button, .button {
        background-color: #FF5200;
        border-color: #bf3d00;
    }

    button:hover:disabled, .button:hover:disabled,
    button:disabled:focus, .button:disabled:focus,
    button:focus, .button:focus,
    button:disabled, .button:disabled,
    button:hover, .button:hover,
    .button.disabled, .button.disabled:focus, .button.disabled:hover {
        background-color: #bf3d00;
        border-color: #8f2d00;
    }

    .button-background {
        background-color: #FF5200;
    }

    .button-background-shade3 {
        background-color: #6b2100;
    }


    .button-group li {
        background-color: #FF5200;
        border-right-color: #ff9d6f;
    }
    .button-group li:hover {
        background-color: #ff7d3f;
    }
    .button-group li.active,
    .button-group li:active {
        background-color: #bf3d00;
    }

    .button-border-color {
        border-color: #FF5200;
    }

    a.coursebox-container .sj-ribbon-wrapper .sj-ribbon,
    a.coursebox-container .sj-course-ribbon-wrapper .sj-course-ribbon {
        color: #6b2100;
        border-color: #FF5200;
        background: #ffb593;
    }

    a.coursebox-container .sj-ribbon-wrapper .sj-ribbon-complete,
    a.coursebox-container .sj-course-ribbon-wrapper .sj-course-ribbon-complete {
        border-color: #FF5200;
        background: #FF5200;
    }

    .quiz .question .form-answers .linear-scale-question__choice__label.linear-scale-question__choice__selected {
      background: #FF5200;
    }

    .star .star__full:active{
        color: #bf3d00;
    }




/* LEX styles */


    
        /* focus styles */

        button:not(.focus-after-v2):focus::before,
        a.button:focus::before,
        .focus-link-v2:focus::before,
        .course-text-content a:focus::before,
        #profile-course-table td > a:focus::before,
        .page-content-block.theme-v3 a:focus::before,
        .html-content-block.theme-v3 a:focus::before,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="date"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="month"]:focus,
        input[type="week"]:focus,
        input[type="email"]:focus,
        input[type="number"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="time"]:focus,
        input[type="url"]:focus,
        textarea:focus,
        input[type="text"].catalog-search-input:focus,
        input[type="text"].sj-search-input:focus,
        .focus-link-v2:focus::before,
        a.coursebox-container:focus,
        .filter-group-title:focus::before,
        #ep-footer .language-pack-wrapper #languagePackSelect:focus,
        select:focus,
        #lp-footer .toggle-fullscreen:focus::before,
        #header .header-dropdown-button:focus img,
        .inline-collapsible-section__label:focus::before,
        .alert-box a:focus::before,
        #change-avatar-button #upload-new-avatar-button:focus::before,
        .linear-scale-question__choice__label:focus-within {
            border: 1px solid #bf3d00;
            box-shadow: 0 0 0 3px #ff7d3f;
        }
        input[type='radio']:checked,
        input[type='radio']:disabled:active:checked {
            border-color: #bf3d00;
        }
        input[type='radio']:checked::before,
        input[type='radio']:disabled:active:checked::before {
            background-color: #bf3d00;
        }
        input[type='radio']:focus::after {
            border-color: #ff7d3f;
        }
        input[type='checkbox']:focus {
            box-shadow: 0 0 0 3px #ff7d3f;
        }
        input[type='checkbox']:checked,
        input[type='checkbox']:disabled:active:checked {
            background-color: #bf3d00;
        }
        .sj-forms .inline-form-field:focus-within input {
            border: none;
        }

        .sj-forms .inline-form-field:focus-within {
            box-shadow: 0 0 0 3px #ff7d3f;
        }

        .sj-forms .inline-form-field:focus-within .input-wrapper {
            border: 1px solid #bf3d00;
        }
        .focus-after-v2:focus::after {
            border: 1px solid #bf3d00;
            box-shadow: 0 0 0 3px #ff7d3f;
        }
    

