@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_thin_italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_light_italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_regular_italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_medium_italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_bold_italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("") format("eot"),
    url("sctogrotesk_a_black_italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk B";
  src: url("") format("eot"),
    url("sctogrotesk_b_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
